<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.xu.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".moduleActivity.main.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".moduleShopping.fragment.activity.ShoppingPayActivity">
        </activity>
        <activity android:name=".moduleMy.fragment.activity.orders.MyOrdersActivity">
        </activity>
        <activity android:name=".moduleMy.fragment.activity.setting.MyPersonalActivity">
        </activity>
        <activity android:name=".moduleMy.fragment.activity.img.ClipImageActivity">
        </activity>
        <activity android:name=".moduleMy.fragment.activity.setting.AccountSettingActivity">
        </activity>
        <activity android:name=".moduleMy.fragment.activity.setting.NickNameActivity">
        </activity>
        <activity android:name=".moduleMy.fragment.activity.setting.EmailActivity">
        </activity>
        <activity android:name=".moduleActivity.main.activity.LoginActivity">
        </activity>
        <activity android:name=".moduleActivity.main.activity.RegisterActivity">
        </activity>
        <activity android:name=".moduleMy.fragment.activity.setting.QueryAddressActivity">
        </activity>
        <activity android:name=".moduleMy.fragment.activity.setting.AddAddressActivity">
        </activity>
        <activity android:name=".moduleShopping.fragment.activity.ReceiveAddressActivity">
        </activity>
        <activity android:name=".moduleMy.fragment.activity.collect.CollectActivity">
        </activity>
    </application>

</manifest>